* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  max-width: 100%;
}

hr {
  opacity: 0.6;
  background: #dcdce0;
  height: 0.2em;
  margin: 1.5em;
  border-radius: 60%;
  max-width: 100%;
}

h2 {
  font-family: 'poppins', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #bcbcdf;
  margin-left: 2em;
  max-width: 100%;
}

html {
  width: 100%;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'poppins', sans-serif;
}

a {
  color: #23232e;
  text-decoration: none;
  transition: 0.4s;
}

a:hover {
  opacity: 0.6;
}

a.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #23232e;
}

header {
  position: sticky;
  top: 0;
  z-index: 1;
}

nav {
  display: flex;
  justify-content: space-around;
  position: relative;
  align-items: center;
  font-family: Arial Bold, Helvetica, sans-serif;
  background: rgb(89, 255, 255);
  height: 8vh;
}

/*.fundo {
  background: linear-gradient(45deg, rgb(89, 255, 255), rgb(89, 180, 255), rgb(92, 89, 255), rgb(153, 89, 255));
  background-size: 300%, 300%;
  animation: colors 15s ease infinite;
}

@keyframes colors {
  0% {

    background-position: 0% 50%;
  }

  50% {

    background-position: 50% 100%;

  }

  100% {

    background-position: 100% 0%;
  }

}*/

ul.nav-list {
  display: flex;
  list-style: none;
}

ul.nav-list li {
  letter-spacing: 4px;
  margin-left: 24px;
}

div.mobile-menu {
  display: none;
  cursor: pointer;
}

div.mobile-menu div {
  width: 32px;
  height: 2px;
  background-color: #23232e;
  margin: 8px;
  transition: 0.4s;
}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }

  a {
    color: aliceblue;
  }

  ul.nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: #23232e;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }

  ul.nav-list li {
    margin-left: 0;
    opacity: 0;
  }

  div.mobile-menu {
    display: block;
  }
}

ul.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

div.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

div.mobile-menu.active .line2 {
  opacity: 0;
}

div.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}